header{
    
    background: url(assets/floral_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
   
    border-radius: 50%;
    border: 3px solid #846E6A;
    margin: 10px;
}    
main{
    height: 1000px;
}    
 

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
}
.intro{
    max-width: 275px;
    text-align: left;
    margin-left: 10px;
}
body {
    background-color: #FAF9F8;
    height: 500px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutMeSection{
    
    color: black;
}
footer{
    background-color: #DFC8C2;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.centered{
}
a{
    color: #846E6A;
}

section {
    margin-top:  5px;
    margin-bottom: 5px;
    padding: 0px 10px 0px 10px;
}